
body {
	margin: 0;
	font-family: Calibri;
}

h1 {
	margin: 0;
	font-size: 1.5em;
}

.ds_hidden {
	display: none;
}

.ds_float_right {
	float: right;
}

#ds_page {
	border: black solid 1px;
	margin: 0 auto;
	padding: 0;
}

@media only screen and (max-width: 40em) {
	#ds_page {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	#ds_page {
		width: 75em;
	}
}


/* mobile header */
#ds_wrapper {
	position: relative; 
}

@media only screen and (max-width: 40em) {
	#ds_header_mobile {
		position: fixed;
		top: 0; 
		right: 0; 
		width: 100%;
		height: 3em;
		background-color: white;
	}

	#ds_menu_mobile {
		position: fixed;
		top: 3em; 
		right: 0; 
		width: 100%;
		background-color: lightgreen;
	}

	#ds_scroller {
		margin-top: 3em;
	}

	#ds_menu_button {
		float: right;
	}
}

@media only screen and (min-width: 40em) {
	#ds_header_mobile {
		display: none;
	}

	#ds_menu_mobile {
		display: none;
	}
}

#ds_scroller { 
	height: 100%; 
	overflow: auto; 
}


/* main page section */
.ds_section {
	content: "";
	clear: both;
	display: table;
}

@media only screen and (min-width: 40em) {
	.ds_section {
		width: 75em;
	}
}

.ds_section_padded {
	content: "";
	clear: both;
	display: table;
}

@media only screen and (max-width: 40em) {
	.ds_section_padded {
		margin: 1em 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_padded {
		width: 61em;
		margin: 2em 7em;
	}
}

/* heading */
@media only screen and (max-width: 40em) {
	#ds_header {
		display: none;
	}
}

@media only screen and (min-width: 40em) {
	#ds_header {
		height: 2em;	
	}
}

#ds_logo {
	float: left;
}

#ds_logo img {
	width: 10em;
	height: 3em;
}

/* menu */
.ds_menu_item {
	margin-top: 1em;
	margin-bottom: 1em;
}

@media only screen and (max-width: 40em) {
	.ds_menu_item {
		height: 2em;
		width: 100%;
		float: right;
		text-align: center;
	}
}

@media only screen and (min-width: 40em) {
	.ds_menu_item {
		height: 100%;
		width: 10em;
		float: right;
		text-align: center;
	}
}

/* main page top */
#ds_main_page_image {
	width: 75em;
	height: 20em;
}

#ds_main_page_text {
	position: absolute;
	bottom: 2em;	
	background-color: white;
	padding: 1em;
}

@media only screen and (max-width: 40em) {
	#ds_main_page_text {
		left: 2em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_main_page_text {
		left: 7em;
	}
}


/* section heading */
.ds_section_heading {
	width: 100%;
	float: left;
	margin-bottom: 2em;
	
	content: "";
	clear: both;
	display: table;
}

.ds_section_heading a {
	float: right;
}

.ds_section_heading h1 {
	float: left;
}

/* blocks */
#ds_main_page_block {
	float: left;
	position: relative;
}

.ds_section_big_block {
	float: left;
	margin-right: 3em;
	position: relative;
}

@media only screen and (max-width: 40em) {
	.ds_section_big_block {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_big_block {
		width: 38em;
	}
}

@media only screen and (max-width: 40em) {
	.ds_section_big_block img {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_big_block img {
		width: 36em;
		height: 20em;
	}
}

@media only screen and (max-width: 40em) {
	.ds_section_big_block div {
		margin: 1em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_big_block div {
		position: absolute;
		bottom: 1em;
		left: 1em;
		background: white;
		padding: 1em;
	}
}

/* project item */

.ds_project_item {
	float: left;
	margin: 0 0 1em 0;
}

@media only screen and (max-width: 40em) {
	.ds_project_item {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item {
		width: 20em;
	}
}

.ds_project_item img {
	float: left;
}

@media only screen and (max-width: 40em) {
	.ds_project_item img {
		object-fit: fill;
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item img {
		width: 10em;
		height: 6em
	}
}

.ds_project_item_text {
	float: left;
}

@media only screen and (max-width: 40em) {
	.ds_project_item_text {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item_text {
		width: 8em;
		margin: 0 0 0 1em;
	}
}

/* blog item */
.ds_blog_item {
	float: left;
	margin: 0 0 1em 0;
}

@media only screen and (max-width: 40em) {
	.ds_blog_item {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item {
		width: 20em;
	}
}

.ds_blog_item img {
	float: left;
	height: 6em
}

@media only screen and (max-width: 40em) {
	.ds_blog_item img {
		width: 50%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item img {
		width: 10em;
	}
}


@media only screen and (max-width: 40em) {
	.ds_blog_item .ds_project_item_text {
		width: 45%;
		margin: 0 0 0 5%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item .ds_project_item_text {
		width: 8em;
		margin: 0 0 0 1em;
	}
}



.ds_block_centered {
	width: max-content;
    margin: auto;
}

/* values */
.ds_block_values {
	float: left;
}

.ds_block_values_text {
	text-align: center;
}

@media only screen and (max-width: 40em) {
	.ds_block_values {
		width: 100%;
	}

	.ds_block_values img {
		width: 10em;
		height: 10em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_block_values {
		width: 20em;
	}

	.ds_block_values img {
		width: 10em;
		height: 10em;
	}
}

/* bottom */
#ds_bottom {
	width: 65em;
	background-color: gray;
	padding: 2em 5em;
	
	content: "";
	clear: both;
	display: table;
}

#ds_bottom_about_us {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_about_us {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_about_us {
		width: 15em;
	}
}

#ds_bottom_sign_up {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_sign_up {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_sign_up {
		width: 15em;
	}
}

#ds_bottom_school_of_data {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_school_of_data {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_school_of_data {
		width: 15em;
	}
}

#ds_bottom_social {
	width: 15em;
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_social {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_social {
		width: 15em;
	}
}

