@font-face {
	font-family: 'Open Sans 2';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/opensans/v20/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



/* mobile header */

@media only screen and (max-width: 40em) {
	#ds_header_mobile {
		position: fixed;
		top: 0; 
		right: 0; 
		width: 100%;
		height: 3em;
		background-color: white;
	}

	#ds_menu_mobile {
		position: fixed;
		top: 3em; 
		right: 0; 
		width: 100%;
		background-color: lightgreen;
	}

	#ds_menu_button {
		float: right;
	}
}

@media only screen and (min-width: 40em) {
	#ds_header_mobile {
		display: none;
	}

	#ds_menu_mobile {
		display: none;
	}
}


/* heading */
@media only screen and (max-width: 40em) {
	#ds_header {
		display: none;
	}
}

@media only screen and (min-width: 40em) {
	#ds_header {
		height: 4em;
		margin-top: 2em;
	}
}

#ds_logo {
	float: left;
}

#ds_logo img {
	width: 13em;
	height: 4.25em;
}


/* section heading */

.ds_section_heading {
	width: 100%;
	float: left;
	margin-bottom: 1m;
	
	content: "";
	clear: both;
	display: table;
}

.ds_section_heading a {
	float: right;
}

.ds_section_heading h1 {
	float: left;
}


/* big block */

.ds_section_big_block {
	float: left;
	position: relative;
}

@media only screen and (max-width: 40em) {
	.ds_section_big_block {
		width: 100%;
		margin: 0 0 2em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_big_block {
		width: 38em;
		height: 20em;
		margin-right: 3em;
	}
}

.ds_section_big_block img {
	width: 100%;
}

@media only screen and (max-width: 40em) {
	.ds_section_big_block img {
		margin: 0 0 0.5em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_big_block img {
		height: 20em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_big_project_item_text {
		position: absolute;
		bottom: 0;
		left: 0;
		background: lightgray;
		padding: 1em;
		width: 100%;
		box-sizing: border-box;
	}
}

.ds_project_big_item_tag {
	background-color: gray;
	color: white;
	padding: 0.1em 0.5em;
	width: max-content;
	margin-bottom: 0.5em;
	font-size: 0.8em;
}


/* project */

.ds_project_item {
	float: left;
	position: relative;
}

@media only screen and (max-width: 40em) {
	.ds_project_item {
		width: 100%;
		margin: 0 0 2em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item {
		width: 20em;
		margin: 0 0 1em 0;
	}
}

.ds_project_item img {
	float: left;
}

@media only screen and (max-width: 40em) {
	.ds_project_item img {
		object-fit: fill;
		width: 100%;
		margin: 0 0 0.5em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item img {
		width: 10em;
		height: 6em
	}
}

.ds_project_item_text {
	float: left;
}

@media only screen and (max-width: 40em) {
	.ds_project_item_text {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item_text {
		width: 8em;
		margin: 0 0 0 1em;
	}
}

.ds_project_item_tag {
	background-color: gray;
	color: white;
	padding: 0.1em 0.5em;
	width: max-content;
	font-size: 0.8em;
}

@media only screen and (max-width: 40em) {
	.ds_project_item_tag {
		margin-bottom: 0.5em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item_tag {
		position: absolute;
		top: 0;
		left: 0;
	}
}


/* blog item */

.ds_blog_item {
	float: left;
	margin: 0 0 1em 0;
}

@media only screen and (max-width: 40em) {
	.ds_blog_item {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item {
		width: 20em;
	}
}

.ds_blog_item img {
	float: left;
	height: 6em
}

@media only screen and (max-width: 40em) {
	.ds_blog_item img {
		width: 50%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item img {
		width: 10em;
	}
}


@media only screen and (max-width: 40em) {
	.ds_blog_item .ds_project_item_text {
		width: 45%;
		margin: 0 0 0 5%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item .ds_project_item_text {
		width: 8em;
		margin: 0 0 0 1em;
	}
}

.ds_block_centered {
	width: max-content;
    margin: auto;
}

/* values */
.ds_block_values {
	float: left;
}

.ds_block_values_text {
	text-align: center;
}

@media only screen and (max-width: 40em) {
	.ds_block_values {
		width: 100%;
		margin: 0 0 1em 0;
	}

	.ds_block_values img {
		width: 10em;
		height: 10em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_block_values {
		width: 20em;
	}

	.ds_block_values img {
		width: 10em;
		height: 10em;
	}
}

/* bottom */
#ds_bottom {
	background-color: gray;
	padding: 2em 5em;
	
	content: "";
	clear: both;
	display: table;
	
	box-sizing: border-box;
	width: 100%;
}

#ds_bottom_about_us {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_about_us {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_about_us {
		width: 15em;
	}
}

#ds_bottom_sign_up {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_sign_up {
		width: 100%;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_sign_up {
		width: 15em;
	}
}

#ds_bottom_school_of_data {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_school_of_data {
		width: 100%;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_school_of_data {
		width: 15em;
	}
}

#ds_bottom_social {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_social {
		width: 100%;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_social {
		width: 15em;
	}
}


@media only screen and (max-width: 40em) {
	.ds_section_header {
		text-align: center;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_header {
		margin: 1em 7em 0 7em;
	}
}

/* contacts */

#ds_contacts_facebook {
    width: 22em;
    float: left;
}

@media only screen and (max-width: 40em) {
	#ds_contacts_facebook {
		width: 100%;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 40em) {
	#ds_contacts_facebook {
		width: 22em;
		height: 8em;
	}
}

#ds_contacts_twitter {
    float: right;
}

@media only screen and (max-width: 40em) {
	#ds_contacts_twitter {
		width: 100%;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 40em) {
	#ds_contacts_twitter {
		width: 22em;
		height: 8em;
	}
}

#ds_contacts_properties {
    float: left;
    box-sizing: border-box;
    width: 100%;
    clear: both;
}

.ds_contacts_div {
    background-color: white;
    padding: 3em;
    margin-bottom: 3em;
}


/* about us */

#ds_about_us_block {
	float: left;
	position: relative;
}

@media only screen and (min-width: 40em) {
	#ds_about_us_block {
		height: 27em;
	}
}

#ds_about_us_image {
	width: 75em;
	height: 20em;
}

@media only screen and (max-width: 40em) {
	#ds_about_us_image {
		display: none; 
	}
}

#ds_about_us_text {
	background-color: white;
}

@media only screen and (max-width: 40em) {
	#ds_about_us_text {
		margin: 1em;
		padding: 1em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_about_us_text {
		position: absolute;
		bottom: 2em;
		left: 2em;

		padding: 2em;
		width: 60%;
	}
}

.ds_about_us_section_people {
	padding: 1em;
	background-color: white;
}

@media only screen and (max-width: 40em) {
	.ds_about_us_section_people {
		padding: 1em 1em 0 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_about_us_section_people {
		padding: 1em 7em 0 7em;
	}
}

.ds_about_us_person_image {
	width: 6em;
    height: 8em;
	float: right;
}

.ds_about_us_person_text {
	margin: 1em 0;
	float: left;	
}

.ds_about_us_person_email {
	float: left;	
}

.ds_about_us_together {
	overflow: hidden;
}

@media only screen and (max-width: 40em) {
	.ds_about_us_together {
		width: 100%;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_about_us_together {
		width: 26em;
		margin: 0 2em 3em 2em;
	}
}

.ds_about_us_together_image {
	object-fit: fill;
	width: 100%;
}

#ds_about_us_allies {
	overflow: hidden;
	margin: 0 auto 2em auto;
}

@media only screen and (max-width: 40em) {
	#ds_about_us_allies {
		width: 20em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_about_us_allies {
		width: 48em;
	}
}

/* join us */

.ds_join_us_block {
	padding: 2em;
	background-color: white;
}






/* two column layout */

.ds_left_column {
	float: left;
}

@media only screen and (max-width: 40em) {
	.ds_left_column {
		margin: 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_left_column {
		width: 50em;
		margin: 0 0 1em 1em;
	}
}

.ds_right_column {
	float: right;
}

@media only screen and (max-width: 40em) {
	.ds_right_column {
		width: 100%;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 40em) {
	.ds_right_column {
		width: 20em;
	}
}

.ds_right_column_inner {
	background-color: white;
	padding: 1em;
}

@media only screen and (max-width: 40em) {
	.ds_right_column_inner {
		margin: 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_right_column_inner {
		margin: 0 1em;
	}
}