
body {
	margin: 0;
	font-family: Calibri;
	background: lightgray;
}

.ds_hidden {
	display: none;
}

.ds_float_right {
	float: right;
}

#ds_page {
	border: black solid 1px;
	margin: 0 auto;
	padding: 0;
	background-color: lightgray;
}

@media only screen and (max-width: 40em) {
	#ds_page {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	#ds_page {
		width: 75em;
	}
}


/* mobile header */
#ds_wrapper {
	position: relative; 
}

@media only screen and (max-width: 40em) {
	#ds_header_mobile {
		position: fixed;
		top: 0; 
		right: 0; 
		width: 100%;
		height: 3em;
		background-color: white;
	}

	#ds_menu_mobile {
		position: fixed;
		top: 3em; 
		right: 0; 
		width: 100%;
		background-color: lightgreen;
	}

	#ds_scroller {
		margin-top: 3em;
	}

	#ds_menu_button {
		float: right;
	}
}

@media only screen and (min-width: 40em) {
	#ds_header_mobile {
		display: none;
	}

	#ds_menu_mobile {
		display: none;
	}
}

#ds_scroller { 
	height: 100%; 
	overflow: auto; 
}


/* main page section */
.ds_section {
	content: "";
	clear: both;
	display: table;
}

@media only screen and (max-width: 40em) {
	.ds_section {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section {
		width: 75em;
	}
}

.ds_section_padded {
	/* content: "";
	clear: both;
	display: table; */
	overflow: hidden;
}

@media only screen and (max-width: 40em) {
	.ds_section_padded {
		margin: 1em 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_padded {
		width: 61em;
		margin: 2em 7em;
	}
}

/* heading */
@media only screen and (max-width: 40em) {
	#ds_header {
		display: none;
	}
}

@media only screen and (min-width: 40em) {
	#ds_header {
		height: 4em;
		background-color: gray;
	}
}

#ds_logo {
	float: left;
}

#ds_logo img {
	width: 10em;
	height: 3em;
}

/* menu */
.ds_menu_item {
	margin-top: 1em;
	margin-bottom: 1em;
}

@media only screen and (max-width: 40em) {
	.ds_menu_item {
		height: 2em;
		width: 100%;
		float: right;
		text-align: center;
	}
}

@media only screen and (min-width: 40em) {
	.ds_menu_item {
		width: 10em;
		float: right;
		text-align: center;
	}
}

/* main page top */
@media only screen and (max-width: 40em) {
	#ds_main_page_image {
		object-fit: fill;
		width: 100%;
		margin: 0 0 0.5em 0;
	}
}

@media only screen and (min-width: 40em) {
	#ds_main_page_image {
		width: 75em;
		height: 20em;
	}
}

#ds_main_page_text {
	position: absolute;
	bottom: 2em;	
	background-color: white;
	padding: 1em;
}

@media only screen and (max-width: 40em) {
	#ds_main_page_text {
		left: 2em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_main_page_text {
		left: 7em;
	}
}


/* section heading */

.ds_section_heading {
	width: 100%;
	float: left;
	margin-bottom: 1m;
	
	content: "";
	clear: both;
	display: table;
}

.ds_section_heading a {
	float: right;
}

.ds_section_heading h1 {
	float: left;
}

/* main */

#ds_main_page_block {
	float: left;
	position: relative;
}


/* big block */

.ds_section_big_block {
	float: left;
	position: relative;
}

@media only screen and (max-width: 40em) {
	.ds_section_big_block {
		width: 100%;
		margin: 0 0 2em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_big_block {
		width: 38em;
		height: 20em;
		margin-right: 3em;
	}
}

.ds_section_big_block img {
	width: 100%;
}

@media only screen and (max-width: 40em) {
	.ds_section_big_block img {
		margin: 0 0 0.5em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_big_block img {
		height: 20em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_big_project_item_text {
		position: absolute;
		bottom: 0;
		left: 0;
		background: lightgray;
		padding: 1em;
		width: 100%;
		box-sizing: border-box;
	}
}

.ds_project_big_item_tag {
	background-color: gray;
	color: white;
	padding: 0.1em 0.5em;
	width: max-content;
	margin-bottom: 0.5em;
	font-size: 0.8em;
}


/* project */

.ds_project_item {
	float: left;
	position: relative;
}

@media only screen and (max-width: 40em) {
	.ds_project_item {
		width: 100%;
		margin: 0 0 2em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item {
		width: 20em;
		margin: 0 0 1em 0;
	}
}

.ds_project_item img {
	float: left;
}

@media only screen and (max-width: 40em) {
	.ds_project_item img {
		object-fit: fill;
		width: 100%;
		margin: 0 0 0.5em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item img {
		width: 10em;
		height: 6em
	}
}

.ds_project_item_text {
	float: left;
}

@media only screen and (max-width: 40em) {
	.ds_project_item_text {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item_text {
		width: 8em;
		margin: 0 0 0 1em;
	}
}

.ds_project_item_tag {
	background-color: gray;
	color: white;
	padding: 0.1em 0.5em;
	width: max-content;
	font-size: 0.8em;
}

@media only screen and (max-width: 40em) {
	.ds_project_item_tag {
		margin-bottom: 0.5em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_project_item_tag {
		position: absolute;
		top: 0;
		left: 0;
	}
}


/* blog item */

.ds_blog_item {
	float: left;
	margin: 0 0 1em 0;
}

@media only screen and (max-width: 40em) {
	.ds_blog_item {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item {
		width: 20em;
	}
}

.ds_blog_item img {
	float: left;
	height: 6em
}

@media only screen and (max-width: 40em) {
	.ds_blog_item img {
		width: 50%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item img {
		width: 10em;
	}
}


@media only screen and (max-width: 40em) {
	.ds_blog_item .ds_project_item_text {
		width: 45%;
		margin: 0 0 0 5%;
	}
}

@media only screen and (min-width: 40em) {
	.ds_blog_item .ds_project_item_text {
		width: 8em;
		margin: 0 0 0 1em;
	}
}

.ds_block_centered {
	width: max-content;
    margin: auto;
}

/* values */
.ds_block_values {
	float: left;
}

.ds_block_values_text {
	text-align: center;
}

@media only screen and (max-width: 40em) {
	.ds_block_values {
		width: 100%;
		margin: 0 0 1em 0;
	}

	.ds_block_values img {
		width: 10em;
		height: 10em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_block_values {
		width: 20em;
	}

	.ds_block_values img {
		width: 10em;
		height: 10em;
	}
}

/* bottom */
#ds_bottom {
	background-color: gray;
	padding: 2em 5em;
	
	content: "";
	clear: both;
	display: table;
	
	box-sizing: border-box;
	width: 100%;
}

#ds_bottom_about_us {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_about_us {
		width: 100%;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_about_us {
		width: 15em;
	}
}

#ds_bottom_sign_up {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_sign_up {
		width: 100%;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_sign_up {
		width: 15em;
	}
}

#ds_bottom_school_of_data {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_school_of_data {
		width: 100%;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_school_of_data {
		width: 15em;
	}
}

#ds_bottom_social {
	float: left;
}

@media only screen and (max-width: 40em) {
	#ds_bottom_social {
		width: 100%;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_bottom_social {
		width: 15em;
	}
}


@media only screen and (max-width: 40em) {
	.ds_section_header {
		text-align: center;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_header {
		margin: 1em 7em 0 7em;
	}
}

/* contacts */

#ds_contacts_facebook {
    width: 22em;
    float: left;
}

@media only screen and (max-width: 40em) {
	#ds_contacts_facebook {
		width: 100%;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 40em) {
	#ds_contacts_facebook {
		width: 22em;
		height: 8em;
	}
}

#ds_contacts_twitter {
    float: right;
}

@media only screen and (max-width: 40em) {
	#ds_contacts_twitter {
		width: 100%;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 40em) {
	#ds_contacts_twitter {
		width: 22em;
		height: 8em;
	}
}

#ds_contacts_properties {
    float: left;
    box-sizing: border-box;
    width: 100%;
    clear: both;
}

.ds_contacts_div {
    background-color: white;
    padding: 3em;
    margin-bottom: 3em;
}


/* about us */

#ds_about_us_block {
	float: left;
	position: relative;
}

@media only screen and (min-width: 40em) {
	#ds_about_us_block {
		height: 27em;
	}
}

#ds_about_us_image {
	width: 75em;
	height: 20em;
}

@media only screen and (max-width: 40em) {
	#ds_about_us_image {
		display: none; 
	}
}

#ds_about_us_text {
	background-color: white;
}

@media only screen and (max-width: 40em) {
	#ds_about_us_text {
		margin: 1em;
		padding: 1em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_about_us_text {
		position: absolute;
		bottom: 2em;
		left: 2em;

		padding: 2em;
		width: 60%;
	}
}

.ds_about_us_section_people {
	padding: 1em;
	background-color: white;
}

@media only screen and (max-width: 40em) {
	.ds_about_us_section_people {
		padding: 1em 1em 0 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_about_us_section_people {
		padding: 1em 7em 0 7em;
	}
}

.ds_about_us_header {
	text-align: center;
}

.ds_adout_us_team {
	text-align: center;
	margin: 2em;
}

.ds_about_us_people {
	overflow: hidden;
}


.ds_about_us_person {
	background-color: lightgray;
	padding: 1.5em;
	overflow: hidden;
}

@media only screen and (max-width: 40em) {
	.ds_about_us_person {
		box-sizing: border-box;
		width: 100%;
		margin: 0 0 1em 0;
	}
}

@media only screen and (min-width: 40em) {
	.ds_about_us_person {
		width: 23em;
		height: 25em;
		margin: 0 2em 3em 2em;
	}
}

.ds_float_left {
	float: left;
}

.ds_float_right {
	float: right;
}

.ds_about_us_person_name {
	/*float: left;	*/
}

.ds_about_us_person_description {
	/*float: left;
	clear: left;*/
}

.ds_about_us_person_image {
	width: 6em;
    height: 8em;
	float: right;
}

.ds_about_us_person_text {
	margin: 1em 0;
	float: left;	
}

.ds_about_us_person_email {
	float: left;	
}

.ds_about_us_together {
	overflow: hidden;
}

@media only screen and (max-width: 40em) {
	.ds_about_us_together {
		width: 100%;
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_about_us_together {
		width: 26em;
		margin: 0 2em 3em 2em;
	}
}

.ds_about_us_together_image {
	object-fit: fill;
	width: 100%;
}

#ds_about_us_allies {
	overflow: hidden;
	margin: 0 auto 2em auto;
}

@media only screen and (max-width: 40em) {
	#ds_about_us_allies {
		width: 20em;
	}
}

@media only screen and (min-width: 40em) {
	#ds_about_us_allies {
		width: 48em;
	}
}

.ds_about_us_ally {
	width: 8em;
	height: 5em;
	margin: 0 1em 1em 1em;
	float: left;
}

/* join us */

.ds_section_join_us_left {
	float: left;
}

@media only screen and (max-width: 40em) {
	.ds_section_join_us_left {
		margin-bottom: 1em;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_join_us_left {
		width: 70%;
	}
}

.ds_section_join_us_right {
	float: right;

	background-color: white;
	padding: 1em;
}



@media only screen and (max-width: 40em) {
	.ds_section_join_us_right {
		width: 100%;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 40em) {
	.ds_section_join_us_right {
		width: 20%;
	}
}

.ds_join_us_block {
	padding: 2em;
	background-color: white;
}
